body {
    color: darkgray;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
  }

.title-container{
    background-color: white;
    position: relative;
    padding-top: 100px;
}
.first-star{
    position: absolute;
    left: 100px;
    height: 75px;
}
h1{
    color: grey;
  font-size: 5rem;
  margin: 80px auto 0 auto;
  font-family: "Sacramento", cursive;
}
h2 {
    color: darkgray;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: normal;
    padding-bottom: 10px;
  }
.second-star{
    position: absolute;
    height: 75px;
    right: 100px;
}
.space{
    height: 300px;
}
.pro {
    text-decoration: underline;
}
.intro-container{
    margin: 100px 0;
    padding: 50px;
    background-color: whitesmoke;
}
.man{
    height: 180px;
    border-radius: 50%;
}
.intro-me {
    width: 30%;
    margin: auto;
}
p {
    line-height: 2;
}
.skills-container{
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        width: 50%;
        margin: 40px auto 40px auto;
        text-align: left;
        row-gap: .5rem;
        column-gap: 2rem;
      }
.skill-image{
    width: 95%;
    margin-left: 30px;
}
hr {
    border: double black 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.footer-container {
    background-color: whitesmoke;
    padding: 50px 0 20px;
  }
  a {
    color: gray;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  .copyright {
    color: darkgray;
    font-size: 0.75rem;
    padding: 20px 0;
  }
  .btn{
    padding: 10px;
    background-color: lightgray;
    color: white;
    border-radius: 5px;
    border: none;
  }
  .contact-info{
    padding-bottom: 50px;
  }
@media(max-width:800px){
    .skills{
        flex-direction: column;
        height: 100%;
    }
    .skill-image{
        margin-bottom: 10px;
        width: 100%;
        display: inline;
        object-fit: cover; 
    }
}
